
# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `pnpm dlx @better-auth/cli secret`

# Nodemailer configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Google configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Node environment
NODE_ENV=
